<article class="post style2 <%= style %>">
  <div class="content">
    <header>
      <span class="category"><%= small_title %></span>
      <h3><%= large_title %></h3>
    </header>
    <p><%= text %></p>
    <ul class="actions">
      <li>
        <%= link_to "Contact us", contact_path, class: "button next" %>
      </li>
    </ul>
  </div>
  <div class="image" data-position="center"><%= image_tag(picture) %></div>
</article>
