<%= render 'shared/navbar', type: "alt" %>
<!-- Banner -->
<section id="banner">
  <div class="content">
    <%= image_tag('white-logo-no-background', :class => "banner-image") %>
  </div>
  <a href="#first" class="more scrolly">Learn More</a>
</section>
<!-- Section -->
<section class="main alt" id="first">
  <header>
    <h3>Zero-Emission Transport is here</h3>
    <p>Contaynor is committed to offer the most flexible transportation services for city distribution and last mile delivery, in the most sustainable way for our planet and direct environment. To live up to our Zero-Emission objective, Contaynor operates a fleet of only electric vehicles and plants a tree per transportation assignment.</p>
  </header>
  <div class="inner">
    <%= render 'components/service_card',
      small_title: "City distribution",
      large_title: "Parcel delivery",
      text: "Rather than logistics hubs, cities are more importantly our living environments. Contaynor offers emission-free city distribution. With our own fleet of E-vehicles we can guarantee parcel delivery right to your doorstep.",
      picture: "city2.jpg",
      style: ""
    %>
    <%= render 'components/service_card',
      small_title: "Last mile delivery",
      large_title: "Dedicated transportation",
      text: "Business is unpredictable, while your clients are time sensitive, especially in the moving business. Our fleet of large electric vans can deliver your customized and precious goods door-to-door in the most sustainable and caring manner.",
      picture: "crossroad.jpg",
      style: "alt"
    %>
  </div>
</section>
<%= render 'shared/footer' %>
