<%= render 'shared/navbar_landing' %>
<!-- Banner -->
<section id="banner">
  <div class="content">
    <%= image_tag('logo3', :class => "banner-image") %>
  </div>
  <a href="#first" class="more scrolly">Learn More</a>
</section>
<!-- Section -->
<section class="main alt" id="first">
  <header>
    <h3>Zero-Emission Transport is here</h3>
    <p>Contaynor is committed to offer the most flexible and innovative last mile transportation services, in the most sustainable way for our planet and direct environment. Besides planting a tree for every transportation assignment, Contaynor's own fleet consists of only electric vehicles.</p>
  </header>
  <div class="inner">
    <%= render 'components/service_card',
      small_title: "Parcel transportation",
      large_title: "Airport transportation",
      text: "Transportation to and from the airport needs to be timely and flexible for your business. With our own fleet of E-vehicles we can guarantee your parcel transportation from A to B in the most efficient way.",
      picture: "airport.jpg",
      style: ""
    %>
    <%= render 'components/service_card',
      small_title: "Parcel transportation",
      large_title: "Dedicated transportation",
      text: "Business is unpredictable, while your clients are time sensitive. Contaynor addresses your needs by providing flexible dedicated parcel transportation in a sustainable manner.",
      picture: "road.jpg",
      style: "alt"
    %>
  </div>
</section>
<%= render 'shared/footer' %>
