<%= render 'shared/navbar_landing' %>
<!-- Banner -->
<section id="banner">
  <div class="content">
    <%= image_tag('logo-with-slogan2', :class => "banner-image") %>
  </div>
  <a href="#first" class="more scrolly">Learn More</a>
</section>
<!-- Section -->
<section class="main alt" id="first">
  <header>
    <h3>Green transportation is here</h3>
    <p>Our mission at Contaynor is loud and clear. Contaynor is committed to offer the most flexible and innovative road transportation solutions, in the most sustainable way for our planet and direct environment. Besides planting a tree for every transportation assignment, Contaynor's own Benelux fleet consists of only electric and hybrid vehicles.</p>
  </header>
  <div class="inner">
    <article class="post style2">
      <div class="content">
        <header>
          <span class="category">Parcel transportation</span>
          <h3>Airport transportation</h3>
        </header>
        <p>Transportation to and from the airport needs to be timely and flexible for your business. With our own fleet of E-vehicles we can guarantee your parcel transportation from A to B in the most efficient way.</p>
        <ul class="actions">
          <li><a href="#" class="button next">Contact us</a></li>
        </ul>
      </div>
      <div class="image" data-position="center"><%= image_tag("airport.jpg") %></div>
    </article>
    <article class="post style2 alt">
      <div class="content">
        <header>
          <span class="category">Parcel transportation</span>
          <h3>Dedicated transportation</h3>
        </header>
        <p>Business is unpredictable, while your clients are time sensitive. Contaynor addresses your needs by providing flexible dedicated parcel transportation in a sustainable manner.</p>
        <ul class="actions">
          <li><a href="#" class="button next">Contact us</a></li>
        </ul>
      </div>
      <div class="image" data-position="center"><%= image_tag("road.jpg") %></div>
    </article>
    <article class="post style2">
      <div class="content">
        <header>
          <span class="category">Container transportation</span>
          <h3>Seaport transportation</h3>
        </header>
        <p>With our large pool of dedicated container transportation providers, Contaynor can offer your business the most flexible container transportation to and from the Antwerp Seaport. Eventhough we don't operate our own EVs for contaynor transportation (yet), our commitment to plant a tree stands!</p>
        <ul class="actions">
          <li><a href="#" class="button next">Contact us</a></li>
        </ul>
      </div>
      <div class="image" data-position="center"><%= image_tag("harbour.jpg") %></div>
    </article>
  </div>
</section>
