<%= render 'shared/navbar', type: "" %>
<!-- Section -->
<section class="main accent2">
  <header>
    <h2>Our values</h2>
    <p>Contaynor wants to become the most sustainable transportation provider. Our values serve as daily guidelines to ensure we stay true to that mission.</p>
  </header>
  <div class="inner">
    <article class="post">
      <div class="content">
        <header>
          <h3>Green Passion</h3>
        </header>
        <p>Our integrity is what drives Contaynor to stay true to its mission of becoming the most sustainable transportation provider. We do what is right, not what is easy. But most importantly, our passion is what makes this burning desire a reality.</p>
      </div>
      <div class="image" data-position="center"><%= image_tag("background10") %></div>
    </article>
    <article class="post alt">
      <div class="content">
        <header>
          <h3>Listening to understand</h3>
        </header>
        <p>At Contaynor, we believe in a win/win relationship towards all our stakeholders ranging from clients, to providers and employees. We believe that listening and understanding stands at the core of every sustainable relationship. We have our specialties, but we want to tailor our solutions to your needs. Do not hesitate to tell us what transportation solution or employment conditions you need. We’re all ears. </p>
      </div>
      <div class="image" data-position="center"><%= image_tag("background11") %></div>
    </article>
    <article class="post">
      <div class="content">
        <header>
          <h3>Continuous improvement and innovation</h3>
        </header>
        <p>Margins in transportation are low, and solutions are limited. We beg to differ. Contaynor reminds itself daily that continuous improvement and constant innovation are at the base of every industry transformation. We are constantly evaluating new green technologies and business methodologies. We are not your typical transportation provider, and that is exactly what you need.</p>
      </div>
      <div class="image" data-position="center"><%= image_tag("background13") %></div>
    </article>
  </div>
</section>
<%= render 'shared/footer' %>
